<!--How often was called-->
{{- if not ($.Page.Scratch.Get "olg") }}<link rel="stylesheet" href="/css/hugo-easy-gallery.css" />{{ end }}
{{- $.Page.Scratch.Add "olg" 1 }}
{{$class := $.Page.Scratch.Get "olg"}}
{{$bilder := (split (.Get "src") ",")}}
{{$anzahlBilder := len $bilder}}
{{$breiteProzentGalerie := (.Get "width")}}
{{$baseURL := .Site.BaseURL }}


<div class="flex-container" style=' width: {{$breiteProzentGalerie}}; margin-left: calc((100% - {{$breiteProzentGalerie}}) / 2)'>
    {{ range $element := $bilder }}
    <div class="flex-item img{{$class}}">
        {{ $linkURL := print $baseURL $element | absURL}}
        <a href="{{ $linkURL }}" itemprop="contentUrl"><img src='{{ $element }}' /></a>
    </div>
    {{ end }}
</div>

<style>
    .flex-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1.4em;
    }

    .flex-item {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .flex-item:nth-child(n+1) {
        margin-left: 1%;
        margin-top: 1%;
    }

    .img{{$class}} {
    {{ if (eq (.Get "elwidth") "")}}
        {{$breiteProzentBild := math.Floor (div 97 $anzahlBilder)}}
        width: {{$breiteProzentBild}}%;
    {{else}}
        {{$breiteProzentBild := .Get "elwidth"}}
        width: {{$breiteProzentBild}}%;
    {{end}}
    }
</style>